<!DOCTYPE html>
<html>
<head>
<style>
body {
	position: relative;
	font-size : 20px;
	
}
th{
	width:90px;
	
	border: 2px solid white;
	text-align:center; 
}

table {
	position: relative;
	background-color:white;
}

#div {
	margin: auto;
	background-color: white;
	 height: 50%;
	max-width: 60%;
}

hr {
	background-color: black;
}

td {
	vertical-align: top;
	padding:5px;
}

input[type="radio"] {
	vertical-align: bottom;
	width: 17px;
	height: 17px;
}

input[type="checkbox"] {
	vertical-align: bottom;
	width: 17px;
	height: 17px;

}
</style>
<meta charset="UTF-8">
<title>Surveys</title>
</head>
<body>
	<h1 align=center>WELCOME <span id=Fname></span>TO MEMBER SATISFACTION SURVEY</h1>
	<div id="div">
		<form action="/survey" method="post" >

			<table class="table">


			</table>
			<input type="submit" class="submit" value="Submit">
		</form>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
								
							$.get("/getAuthenticatedFname",function(data){
								//alert(data); 
								//master changes
								//branch changes
								//changes by master
								//again
								$("#Fname").text(data+ ", " );
							});
		
							$
									.get(
											"/getAll",
											function(data) {
												//data = jQuery.parseJSON(data);
												// $( "div" ).append( JSON.stringfy(data));
												for (j = 0; j < data.length; j++) {
													var x = '	<tr class="border">	<td>'
															+(j+1)
															+ '.&nbsp<td>';
													x += data[j].qDescription
															+ '</tr>	';
													if(data[j].aType != "multiple"){
													
													for (i = 0; i < data[j].answer.length; i++) {
														
														x += '<tr><td><td><input type="'+data[j].aType+'" class="check" name="'+data[j].qId+'" value="'+data[j].answer[i].aId+ '">'
																+ data[j].answer[i].aDescription
																+ '</tr>		<tr><td>			<td>';
														}
													x += '	<tr><td colspan="2"><hr></tr>';
													}else{
														x +='<tr><td></td><td><table border=1 frame=void rules=rows >';
														var ans;
														for (i = 0; i < data[j].subQuestion.length; i++) {
																if(i == 0){
																	x +='<tr><th colspan=2 style="background-color:#85d8ed; width:40%" >';
																	//alert(data[j].subQuestion[i].answer[0].adescription);
																	ans = data[j].subQuestion[i].answer.length;
																	for(k =0 ;k < ans; k++){
																		
																		x +='<th style="background-color:#85d8ed"> '+data[j].subQuestion[i].answer[k].aDescription+'</th>';
																	}
																	x +='</tr>';
																}
																	//alert(data[j].subQuestion[i].answer[i].adescription);
																x +='<tr><td>'+ data[j].subQuestion[i].qDescription+'</td><td></td>';
																for(k =0 ;k < ans; k++){
																	
																	x +='<td><input type=radio name ='+data[j].qId+' value='+data[j].subQuestion[i].id+'C'+data[j].subQuestion[0].answer[k].aId+'></td>';
																}
																//x += '<tr><hr></tr>';
																x +='</tr>';
																
														}
														x +='</table></td></tr>';
														
														x += '<tr><td colspan="2"><hr></tr>';
														
													}x+='<tr><td><td align="right"><h3 align="left"><span style="vertical-align:top">Comments and suggestions: </span><textarea maxlength="255" name="commentC'+data[j].qId+'" cols="50" rows="3" style="border-top:none;border-right:none;border-left:none; " placeholder="Type your comments here"></textarea></h3></tr>';
													$(".table").append(x);
													//$("table").append(x);
													//alert( );
													
													
												}
												

											});
						

						});
	</script>
</body>
</html>
